﻿<script>
function UserAction() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var data = $.parseJSON(this.responseText);
            $('#tblAllRecords tbody').append("<tr><th scope='row'>" + data.currentTimeQueryId + "</th>" +
                        "<td>" + data.clientIp + "</td>" +
                        "<td>" + $.format.date(data.time, "MM/dd/yyyy hh:mm a") + "</td>" +
                        "<td>" + $.format.date(data.utcTime, "MM/dd/yyyy hh:mm a") + "</td></tr>");
        }
    };
    xhttp.open("GET", "http://localhost:52783/api/currenttime/Get", true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();
    }

    function LoadAllRecords() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var data = $.parseJSON(this.responseText);

                $.each(data, function( key, value ) {
                    $('#tblAllRecords tbody').append("<tr><th scope='row'>" + value.currentTimeQueryId + "</th>" +
                        "<td>" + value.clientIp + "</td>" +
                        "<td>" + $.format.date(value.time, "MM/dd/yyyy hh:mm a") + "</td>" +
                        "<td>" + $.format.date(value.utcTime, "MM/dd/yyyy hh:mm a") + "</td></tr>");
                });
        }
    };
    xhttp.open("GET", "http://localhost:52783/api/currenttime/GetAll", true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();
    }

    function LoadTimeZoneDropDown() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var data = $.parseJSON(this.responseText);
                var dropdown = $('#ddlTimeZone');
                dropdown.empty();
                $.each(data, function (key, entry) {

                    dropdown.append($('<option></option>').attr('value', entry.timeZoneQueryId).text(entry.label));
                })
        }
    };
    xhttp.open("GET", "http://localhost:52783/api/timezone/Get", true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();
    }

    function GetTimeZoneSelected() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var data = $.parseJSON(this.responseText);

                $("#timeZoneResult").html("Time in requested timezone: " + $.format.date(data.timeZoneTime, "MM/dd/yyyy hh:mm a"));

        }
    };
    xhttp.open("GET", "http://localhost:52783/api/timezone/GetCurrenTimeByTimeZone/" +  $('#ddlTimeZone').val() + "/", true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();
    }

    $( document ).ready(function() {
        LoadAllRecords();

        LoadTimeZoneDropDown();
    });

</script>

<h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>


<div class="row">
    <div class="col-lg-6">
        <button type="submit" class="btn btn-primary" onclick="UserAction()">Get the time</button>
    </div>
    <div class="col-lg-6">
        <select class="dropdown" id="ddlTimeZone">
        </select>
        <button type="submit" class="btn btn-primary" onclick="GetTimeZoneSelected()">Get server time by selected time zone</button>
        <div class="row">
            <div class="col-lg-12">
                <p id="timeZoneResult"></p>
            </div>
        </div>
    </div>
</div>

<div style="margin-top:5px;"></div>
        


        <p id="output"></p>
        <div class="row">
            <div class="col-lg-12">
                <table class="table" id="tblAllRecords">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Ip</th>
                            <th scope="col">Time</th>
                            <th scope="col">UTC Time</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
