﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-dateformat.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
	
</body>
</html>
